tr(class="monospace word-wrap")
	td
		a(href=("/node/" + nodeInfo.node.pub_key), title=nodeInfo.node.pub_key, data-toggle="tooltip") #{nodeInfo.node.pub_key.substring(0, 20)}

	td
		if (nodeInfo.node.addresses && nodeInfo.node.addresses.length > 0)
			span #{nodeInfo.node.addresses[0].addr}
		else
			span ?

	td
		- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(nodeInfo.node.last_update) * 1000))));

		span(title=moment.utc(new Date(parseInt(nodeInfo.node.last_update) * 1000)).format("Y-MM-DD HH:mm:ss"), data-toggle="tooltip") #{timeAgo.humanize()}

	td(class="text-right")
		span #{parseInt(nodeInfo.num_channels).toLocaleString()}

	td(class="text-right")
		span #{parseInt(nodeInfo.total_capacity).toLocaleString()}

	td
		div(style=("display: inline-block; width: 1em; height: 14px; padding: 0; margin: 0; border-radius: 0.2em; background: " + nodeInfo.node.color))
		span  #{nodeInfo.node.alias}