tr(class="monospace word-wrap")
	td
		a(href=("/node/" + nodeInfo.node.pub_key), title=nodeInfo.node.pub_key, data-toggle="tooltip") #{nodeInfo.node.pub_key.substring(0, config.site.pubkeyMaxDisplayLength)}

	td
		- var node_color = nodeInfo.node.color;
		- var node_alias = nodeInfo.node.alias;
		include ./node-description-display.pug

	td
		if (nodeInfo.node.addresses && nodeInfo.node.addresses.length > 0)
			if (nodeInfo.node.addresses[0].addr.length > 25)
				span(title=nodeInfo.node.addresses[0].addr, data-toggle="tooltip") -#{nodeInfo.node.addresses[0].addr.substring(nodeInfo.node.addresses[0].addr.length - 26, nodeInfo.node.addresses[0].addr.length - 1)}
			else
				span #{nodeInfo.node.addresses[0].addr}
		else
			span -

	td
		if (nodeInfo.node.last_update == 0)
			span -
		else
			- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(nodeInfo.node.last_update) * 1000))));
			span(title=moment.utc(new Date(parseInt(nodeInfo.node.last_update) * 1000)).format("Y-MM-DD HH:mm:ss"), data-toggle="tooltip") #{timeAgo.humanize()}

	td(class="text-right")
		span #{parseInt(nodeInfo.num_channels).toLocaleString()}

	td(class="text-right")
		- var currencyValue = new Decimal(nodeInfo.total_capacity).dividedBy(100000000);
		include ./value-display.pug
		//span #{parseInt(nodeInfo.total_capacity).toLocaleString()}