extends layout

block headContent
	title Lightning Explorer
	
block content
	h1(class="h2") Lightning Explorer
	hr

	if (false)
		pre #{JSON.stringify(fullNetworkDescription, null, 4)}

	if (fullNetworkDescription)
		if (config.demoSite && session.hideHomepageBanner != "true")
			div(class="alert alert-primary alert-dismissible", role="alert")
				p
					strong Lightning Explorer
					span  is 
					a(href="https://github.com/janoside/lightning-rpc-explorer") open-source
					span  and easy to set up. It can communicate with your lightning node via gRPC. See the 
					a(href="https://github.com/janoside/lightning-rpc-explorer") project description
					span  for a list of features and instructions for running.

				div(style="height: 34px;")
					a(class="github-button", href=config.siteInfo.sourceUrl, data-icon="octicon-star", data-size="large", data-show-count="true", aria-label="Star janoside/btc-rpc-explorer on GitHub", style="padding-right: 10px;") Star
					
					span    
					a(class="github-button", href=(config.siteInfo.sourceUrl + "/fork"), data-icon="octicon-repo-forked", data-size="large", data-show-count="true", aria-label="Fork janoside/btc-rpc-explorer on GitHub") Fork

				a(href="/changeSetting?name=hideHomepageBanner&value=true", class="close", aria-label="Close", style="text-decoration: none;")
					span(aria-hidden="true") &times;
				
		
		- var totalCapacity = 0;
		each item in fullNetworkDescription.channels.sortedByLastUpdate
			- totalCapacity = totalCapacity + parseInt(item.capacity);


		div(class="card mb-4")
			div(class="card-header")
				h2(class="h6 mb-0") Network Summary
			div(class="card-body")
				table(class="table table-responsive-sm")
					thead
						tr
							th Node Count
							th Channel Count
							th Total Capacity
					tbody
						tr
							td(class="lead monospace") #{fullNetworkDescription.nodes.sortedByLastUpdate.length.toLocaleString()}
							td(class="lead monospace") #{fullNetworkDescription.channels.sortedByLastUpdate.length.toLocaleString()}

							- var currencyValue = new Decimal(totalCapacity).dividedBy(100000000);
							td(class="lead")
								include ./includes/value-display.pug


		div(class="card mb-4")
			div(class="card-header")
				div(class="row")
					div(class="col")
						h2(class="h6 mb-0") #{fullNetworkDescription.nodes.sortedByLastUpdate.length.toLocaleString()} 
							if (fullNetworkDescription.nodes.sortedByLastUpdate.length == 1)
								span Node
							else
								span Nodes

					div(class="col")
						span(style="float: right;")
							a(href="/nodes")
								span  Browse Nodes &raquo;

			div(class="card-body")
				ul(class='nav nav-tabs')
					li(class="nav-item")
						a(data-toggle="tab", href="#tab-nodes-sortedByLastUpdate", class="nav-link active", role="tab") Recently Updated
					li(class="nav-item")
						a(data-toggle="tab", href="#tab-nodes-sortedByChannelCount", class="nav-link", role="tab") Most Channels
					li(class="nav-item")
						a(data-toggle="tab", href="#tab-nodes-sortedByTotalCapacity", class="nav-link", role="tab") Most Capacity

				div(class="tab-content")
					div(id="tab-nodes-sortedByLastUpdate", class="tab-pane active", role="tabpanel")
						- var nodeInfos = fullNetworkDescription.nodes.sortedByLastUpdate.slice(0, 10);
						include includes/node-table.pug

					div(id="tab-nodes-sortedByChannelCount", class="tab-pane", role="tabpanel")
						- var nodeInfos = fullNetworkDescription.nodes.sortedByChannelCount.slice(0, 10);
						include includes/node-table.pug

					div(id="tab-nodes-sortedByTotalCapacity", class="tab-pane", role="tabpanel")
						- var nodeInfos = fullNetworkDescription.nodes.sortedByTotalCapacity.slice(0, 10);
						include includes/node-table.pug

		div(class="card mb-4")
			div(class="card-header")
				div(class="row")
					div(class="col")
						h2(class="h6 mb-0") #{fullNetworkDescription.channels.sortedByLastUpdate.length.toLocaleString()} 
							if (fullNetworkDescription.channels.sortedByLastUpdate.length == 1)
								span Channel
							else
								span Channels

					div(class="col")
						span(style="float: right;")
							a(href="/channels")
								span  Browse Channels &raquo;

			div(class="card-body")
				ul(class='nav nav-tabs')
					li(class="nav-item")
						a(data-toggle="tab", href="#tab-channels-sortedByLastUpdate", class="nav-link active", role="tab") Recently Updated
					li(class="nav-item")
						a(data-toggle="tab", href="#tab-channels-sortedByCapacity", class="nav-link", role="tab") Most Capacity

				div(class="tab-content")
					div(id="tab-channels-sortedByLastUpdate", class="tab-pane active", role="tabpanel")
						- var channels = fullNetworkDescription.channels.sortedByLastUpdate.slice(0, 10);
						include includes/channel-table.pug

					div(id="tab-channels-sortedByCapacity", class="tab-pane", role="tabpanel")
						- var channels = fullNetworkDescription.channels.sortedByCapacity.slice(0, 10);
						include includes/channel-table.pug

	else
		div(class="alert alert-danger") No data available for current network state. Check your RPC connection.


block endOfBody
	script(async, defer, src="https://buttons.github.io/buttons.js")