extends layout

block headContent
	title Lightning Explorer
	
block content
	h1(class="h2") Lightning Explorer
	hr

	if (env.demoSite)
		div(class="alert alert-primary", role="alert")
			p(class="lead")
				strong Lightning Explorer
				span  is 
				a(href="https://github.com/janoside/lightning-rpc-explorer") open-source
				span . If you run your own lightning node,
				strong  Lightning Explorer
				span  can easily run alongside it, communicating via RPC calls.
			
			p(class="lead")
				span See the 
				a(href="https://github.com/janoside/lightning-rpc-explorer") project description
				span  for a list of features and instructions for running.

			div(style="height: 34px;")
				a(class="github-button", href=env.siteInfo.sourceUrl, data-icon="octicon-star", data-size="large", data-show-count="true", aria-label="Star janoside/btc-rpc-explorer on GitHub", style="padding-right: 10px;") Star
				
				span    
				a(class="github-button", href=(env.siteInfo.sourceUrl + "/fork"), data-icon="octicon-repo-forked", data-size="large", data-show-count="true", aria-label="Fork janoside/btc-rpc-explorer on GitHub") Fork

	if (false)
		pre
			code #{JSON.stringify(getInfo, null, 4)}

		pre
			code #{JSON.stringify(listPeers, null, 4)}

	- var totalCapacity = 0;
	each item in describeGraph.edges
		- totalCapacity = totalCapacity + parseInt(item.capacity);

	
	- var firstXNodes = describeGraph.nodes.slice(0, 10);
	- var firstXEdges = describeGraph.edges.slice(0, 10);

	h2(class="h3") Network Summary
	hr

	div(class="row mb-5")
		div(class="col-md-4")
			div(class="card")
				div(class="card-header")
					span(class="h5") Nodes
				div(class="card-body")
					span(class="lead") #{describeGraph.nodes.length.toLocaleString()}

		div(class="col-md-4")
			div(class="card")
				div(class="card-header")
					span(class="h5") Channels
				div(class="card-body")
					span(class="lead") #{describeGraph.edges.length.toLocaleString()}

		div(class="col-md-4")
			div(class="card")
				div(class="card-header")
					span(class="h5") Capacity
				div(class="card-body")
					span(class="lead") #{totalCapacity.toLocaleString()}


	div(class="row")
		div(class="col")
			h2(class="h3") Latest Nodes
				small  (1-10 of #{describeGraph.nodes.length.toLocaleString()})

		div(class="col")
			span(style="float: right;")
				a(href="/nodes", class="btn btn-primary") Browse Nodes &raquo;

	hr

	- var nodes = firstXNodes;
	include includes/node-table.pug


	div(class="row")
		div(class="col")
			h2(class="h3") Latest Channels
				small  (1-10 of #{describeGraph.edges.length.toLocaleString()})

		div(class="col")
			span(style="float: right;")
				a(href="/channels", class="btn btn-primary") Browse Channels &raquo;

	hr

	- var channels = firstXEdges;
	include includes/channel-table.pug

block endOfBody
	script(async, defer, src="https://buttons.github.io/buttons.js")